.Input {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    background-color:  rgba(0, 0, 0, .5);
    display: flex;

    padding: 10px;
    justify-content: space-evenly;
    align-items: center;

    margin: auto;
    margin-top: 0px;

    width: 100%;

    .MoodBall {
        border-radius: 50%;

        background-color: #f20407;

        width: 30px;
        height: 30px;
    }

    .SearchInput {
        // box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border: none;
        background-color:  rgba(0, 0, 0, .5);

        display: flex;

        padding: 10px;
        outline: none;

        color: white;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;

        width: 80%;


    }

    .SearchButton {
        border: none;
        background-color:  rgba(0, 0, 0, .5);

        display: flex;

        padding: 10px;
        outline: none;

        .ButtonText {
            color: white;
            font-family: sans-serif;
            font-size: 18px;
            font-weight: 400;
        }
    }
}