

.GeneralDataBox{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;

    position: relative;

    padding: 10px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    margin: auto;

    height: 230px;
    width: 100%;

    .ConTempLatLon {

        display: flex;
        flex-direction: column;

        padding: 10px;
        gap: 10px;

        span {
            display: flex;
            gap: 10px;

            .Country {
                color: white;
                font-family: sans-serif;
                font-size: 18px;
                font-weight: 400;
            }
        }
    
        
        .Temperature {
            color: white;
            font-family: sans-serif;
            font-size: 100px;
            font-weight: 400;

            transition: .5s;
        }
    
        .LatLon {
            display: flex;
            flex-direction: column;
            
            .Lat, .Lon {
                color: red;
                font-family: sans-serif;
                font-size: 15px;
                font-weight: 400;
            }
        }
    }

    .Description {
        color: white;
        font-family: sans-serif;
        font-size: 30px;
        font-weight: 400;

        position: absolute;
        right: -40px;

        transform: rotate(-90deg);
    }
    
}
@media only screen and (max-width: 560px) {
    .GeneralDataBox {
        .ConTempLatLon {

            .Temperature {
                font-size: 80px;
            }
        }

        .Description {
            font-size: 25px;
        }
    }
}
@media only screen and (max-width: 380px) {
    .GeneralDataBox {
        .ConTempLatLon {

            .Temperature {
                font-size: 70px;
            }
        }

        .Description {
            font-size: 20px;
        }
    }
}